body {
  background-color: #f4e1d2;
  padding: 30px
  color:black;
}
nav {
   padding: 30px;
    background-color:#b2b2b2;
    position: sticky;
    top:0;
    text-shadow: 1px 1px 0 #444;
    color: white;
}
header{
  padding: 30px;
  height: 70%;
  background-image: url("https://images.unsplash.com/photo-1440020143730-090579c4d53c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=623dff6c95ef32d548049d74d0ac8ecc&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  backgroung-attachment: fixed;
  backgrounf-position: center;
}
